footer {
  border: 1.5px solid $grey;
  color: $black;

  .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    @include widthGeneral;
    margin-top: 64px;
    margin-bottom: 64px;

    a {
      text-decoration: none;
      color: $black;
    }

    .email-footer {
      margin: 60px 0 16px 0;

      .arobase {
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .footer-right {
      justify-self: end;

      .linkedin {
        display: flex;
        align-items: center;
        gap: 32px;
        line-height: 150%;

        i {
          font-size: 40px;
          color: $orange;
        }
      }

      .legal-container {
        margin-top: 64px;

        .legal-group {
          display: flex;
          gap: 48px;
          margin-top: 24px;
        }
      }
    }
  }

  // MEDIA QUERIES -------------------------------------
  @media (max-width: 600px) {
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }

      .footer-right {
        .linkedin {
          justify-content: center;
          margin-top: 16px;
          gap: 16px;

          br {
            display: none;
          }

          i {
            font-size: 32px;
          }
        }

        .legal-container {
          margin-top: 56px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .legal-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
          }
        }
      }
    }
  }
}
