#header-sticky {
  position: fixed;
  top: 0;
  background: white;
}
.hero {
  margin-top: $sticky-navbar-height;
}

@media (max-width: 920px) {
  #header-sticky {
    position: static;
  }
  .hero {
    margin-top: 0;
  }
}
