header {
  // background: url(../img/Hero_BG.png) center/cover;
  min-height: 100vh;
  // margin: 0 9%;
  margin: 0 auto;

  .preheader {
    border-bottom: 1.5px solid $grey;

    .preheader-content {
      @include widthGeneral;
      display: grid;
      grid-template-columns: 80% 20%;
      align-items: center;
      min-height: 6vh;
      color: $darkBlue;

      a {
        text-decoration: none;
        color: $darkBlue;
      }

      .contact {
        display: flex;
        align-items: center;
        gap: 64px;

        p {
          display: flex;
          align-items: center;

          img {
            margin-right: 16px;
          }

          .arobase {
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }

      .language {
        display: flex;
        justify-content: end;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $darkBlue;
        }

        img {
          margin-right: 8px;
        }

        i {
          margin-left: 8px;
        }
      }
    }
  }

  nav {
    @include widthGeneral;
    min-height: 9vh;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin: 24px auto;

    img {
      justify-self: start;
    }

    ul {
      display: flex;
      align-items: center;
      justify-self: end;
      gap: 40px;
    }

    a {
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 700;
      color: $darkBlue;

      &:hover {
        color: $orange;
      }
    }
  }
}

.hero {
  min-height: 80vh;
  background: url(../img/Hero_BG.png) center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    text-shadow: 0px 5px 40px rgba(0, 0, 0, 0.6);
  }

  p {
    width: 70%;
    text-align: center;
    padding: 24px 0 40px 0;
    color: $white;
    text-shadow: 0px 5px 40px rgba(0, 0, 0, 0.6);
  }
}
