// ----- VARIABLES ------ //

// COLORS //
$black: rgb(22, 22, 22);
$white: rgb(246, 246, 246);
$grey: rgb(201, 212, 224);
$darkBlue: rgb(0, 53, 102);
$lightBlue: rgb(0, 180, 189);
$orange: rgb(236, 133, 29);


// FONTS //
$fontPrimary: "Cabin", sans-serif;

//Sticky navbar
$preheader-height: 6vh;
$navbar-height: 11vh;
$sticky-navbar-height: calc(#{$preheader-height} + #{$navbar-height});

// ----- MIXINS ------ //
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin widthGeneral {
  width: 85%;
  margin: 0 auto;
}

@mixin widthGeneral480px {
  width: 95%;
  margin: 0 auto;
}

@mixin titleSection {
  color: $darkBlue;
  font-size: 2.5rem;
  font-weight: 700;
}

@mixin sectionShadow {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;   
}
