@charset "UTF-8";
.preheader {
  border-bottom: 1.5px solid rgb(201, 212, 224);
}
.preheader .preheader-content {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
  color: rgb(0, 53, 102);
}
.preheader .preheader-content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  width: 100%;
}
.preheader .preheader-content .contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preheader .preheader-content .contact p img {
  margin-right: 16px;
}
.preheader .preheader-content .contact p a {
  text-decoration: none;
  color: rgb(0, 53, 102);
}
.preheader .preheader-content .contact p .arobase {
  font-family: Arial, Helvetica, sans-serif;
}
.preheader .preheader-content .language {
  justify-self: end;
  display: none;
}
.preheader .preheader-content .language a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgb(0, 53, 102);
}
.preheader .preheader-content .language img {
  margin-right: 8px;
}
.preheader .preheader-content .language i {
  margin-left: 8px;
}
@media (max-width: 920px) {
  .preheader .preheader-content {
    width: 95%;
    margin: 0 auto;
  }
  .preheader .preheader-content .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .preheader .preheader-content .language {
    display: none;
  }
}
@media (max-width: 480px) {
  .preheader .preheader-content {
    width: 95%;
    margin: 0 auto;
  }
  .preheader .preheader-content .contact {
    gap: 2%;
  }
}

nav {
  width: 85%;
  margin: 0 auto;
  min-height: 9vh;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px auto;
}
nav img {
  justify-self: start;
  padding-top: 8px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  gap: 40px;
}
nav a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  color: rgb(0, 53, 102);
}
nav a:hover {
  color: rgb(236, 133, 29);
}
nav .language-mobile {
  display: none;
}
nav .language-mobile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgb(0, 53, 102);
  font-weight: 400;
}
nav .language-mobile img {
  margin-right: 8px;
}
nav .language-mobile i {
  margin-left: 8px;
}
@media (max-width: 920px) {
  nav {
    width: 95%;
    margin: 0 auto;
    margin: 24px auto;
  }
  nav ul {
    display: none;
  }
  nav .language-mobile {
    display: none;
  }
}

.hero {
  height: 80vh;
  background: url(../img/Hero_BG.png) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(246, 246, 246);
}
.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}
.hero .hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  text-shadow: 0px 5px 40px rgba(0, 0, 0, 0.6);
}
.hero .hero-content p {
  width: 70%;
  text-align: center;
  padding: 24px 0 40px 0;
  color: rgb(246, 246, 246);
  text-shadow: 0px 5px 40px rgba(0, 0, 0, 0.6);
}
@media (max-width: 850px) {
  .hero .hero-content {
    width: 85%;
  }
  .hero .hero-content h1 {
    font-size: 3rem;
  }
  .hero .hero-content p {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .hero {
    background: url(../img/Hero_BG_700px.png) center/cover;
  }
  .hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-content h1 {
    font-size: 2.5rem;
    line-height: 120%;
  }
  .hero .hero-content p {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 550px;
    background: url(../img/Hero_BG_480px.png) center/cover;
    background-position: top;
  }
  .hero .hero-content {
    padding-top: 80px;
  }
  .hero .hero-content h1 {
    font-size: 2rem;
  }
  .hero .hero-content p {
    font-size: 1rem;
  }
}

#services {
  width: 85%;
  margin: 0 auto;
  margin: 10% auto;
}
#services .inter-boxes {
  margin: 40px 0 96px 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  gap: 4%;
  justify-self: start;
}
#services .inter-boxes h3 {
  margin: 16px 0 8px 0;
}
#services .inter-boxes p {
  line-height: 180%;
  font-size: 1.125rem;
}
#services .inter-boxes p span {
  color: rgb(0, 180, 189);
}
@media (max-width: 800px) {
  #services .inter-boxes br {
    display: none;
  }
}
@media (max-width: 800px) {
  #services .inter-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    margin: 32px 0 40px 0;
  }
}
#services .down-container {
  display: grid;
  grid-template-columns: 52% 48%;
}
#services .down-container p {
  width: 80%;
}
@media (max-width: 800px) {
  #services {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin: 64px auto;
  }
  #services .down-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  #services .down-container .lead {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #services .up-container .inter-boxes {
    margin-bottom: 16px;
  }
  #services .up-container .inter-boxes p {
    font-size: 1rem;
    line-height: 150%;
  }
  #services .up-container .inter-boxes img {
    width: 64px;
    height: 64px;
  }
}

#about {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
#about .about-left {
  background: rgb(0, 53, 102);
}
#about .about-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#about .about-right {
  background: rgb(0, 53, 102);
  color: rgb(246, 246, 246);
  padding: 96px 104px;
}
#about .about-right h2 {
  color: rgb(246, 246, 246);
}
#about .about-right p {
  line-height: 180%;
  font-size: 1.125rem;
}
@media (max-width: 920px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .about-right {
    padding: 56px;
  }
}
@media (max-width: 480px) {
  #about .about-right {
    padding: 64px 16px;
  }
  #about .about-right p {
    font-size: 1rem;
  }
}

#form-section {
  width: 85%;
  margin: 0 auto;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#form-section h2 {
  margin-bottom: 40px;
  text-align: center;
}
#form-section .form-container {
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
}
#form-section .form-container form {
  width: 80%;
  margin: 64px auto;
}
#form-section .form-container form .form-row {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}
#form-section .form-container form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}
#form-section .form-container form .form-item label {
  margin-bottom: 8px;
}
#form-section .form-container form .form-item label span {
  color: red;
}
#form-section .form-container form .form-item input,
#form-section .form-container form .form-item textarea {
  height: 50px;
  border-radius: 4px;
  border: 1.5px solid rgb(201, 212, 224);
  outline: none;
  -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 16px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
#form-section .form-container form .form-item input:focus,
#form-section .form-container form .form-item textarea:focus {
  border: 1.5px solid rgb(0, 180, 189);
  background: #f5faff;
}
#form-section .form-container form .form-item input:not(:-moz-placeholder-shown), #form-section .form-container form .form-item textarea:not(:-moz-placeholder-shown) {
  border: 1.5px solid rgb(170, 170, 170);
}
#form-section .form-container form .form-item input:not(:-ms-input-placeholder), #form-section .form-container form .form-item textarea:not(:-ms-input-placeholder) {
  border: 1.5px solid rgb(170, 170, 170);
}
#form-section .form-container form .form-item input:not(:placeholder-shown),
#form-section .form-container form .form-item textarea:not(:placeholder-shown) {
  border: 1.5px solid rgb(170, 170, 170);
}
#form-section .form-container form .form-item textarea {
  height: 200px;
  resize: none;
}
#form-section .form-container form .form-item .form-error {
  color: red;
  font-size: 0.875rem;
  margin-top: 8px;
}
#form-section .form-container form .form-item #checkboxError {
  margin-top: 0;
  margin-left: 8px;
}
#form-section .form-container form .form-item .upload-label {
  position: relative;
  width: 100%;
  border: 1.5px dotted rgb(201, 212, 224);
  border-radius: 4px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: rgb(170, 170, 170);
  font-size: 16px;
}
#form-section .form-container form .form-item .upload-label i {
  font-size: 24px;
}
#form-section .form-container form .form-item .placeholder {
  font-size: 16px;
  color: rgb(170, 170, 170);
}
#form-section .form-container form .form-item input[type=file] {
  display: none; /* cache l'input réel */
}
#form-section .form-container form .form-item .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
#form-section .form-container form .form-item .radio-group .yes,
#form-section .form-container form .form-item .radio-group .no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 8px;
}
#form-section .form-container form .form-item .radio-group .yes .radio,
#form-section .form-container form .form-item .radio-group .no .radio {
  margin: 0;
  color: rgb(22, 22, 22);
  font-size: 0.875rem;
}
#form-section .form-container form .form-item input[type=radio] {
  width: 24px;
  height: 24px;
  border: 1.5px solid rgb(201, 212, 224);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
#form-section .form-container form .form-item input[type=radio]:checked::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(0, 180, 189);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#form-section .form-container form .form-item .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  color: rgb(22, 22, 22);
}
#form-section .form-container form .form-item input[type=checkbox] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  border: 2px solid rgb(201, 212, 224);
  position: relative;
  cursor: pointer;
}
#form-section .form-container form .form-item input[type=checkbox]:checked::before {
  content: "✓";
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: rgb(0, 180, 189);
  text-align: center;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 720px) {
  #form-section {
    margin: 48px auto;
  }
  #form-section .form-container {
    width: 100%;
  }
  #form-section .form-container form {
    margin: 48px auto;
  }
  #form-section .form-container form .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #form-section .form-container form .form-item {
    margin-bottom: 16px;
  }
  #form-section .form-container form .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  border: 1.5px solid rgb(201, 212, 224);
  color: rgb(22, 22, 22);
}
footer .footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 85%;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 64px;
}
footer .footer-container a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}
footer .footer-container .email-footer {
  margin: 60px 0 16px 0;
}
footer .footer-container .email-footer .arobase {
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer-container .footer-right {
  justify-self: end;
}
footer .footer-container .footer-right .linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  line-height: 150%;
}
footer .footer-container .footer-right .linkedin i {
  font-size: 40px;
  color: rgb(236, 133, 29);
}
footer .footer-container .footer-right .legal-container {
  margin-top: 64px;
}
footer .footer-container .footer-right .legal-container .legal-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  margin-top: 24px;
}
@media (max-width: 600px) {
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-container .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  footer .footer-container .footer-right .linkedin {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px;
    gap: 16px;
  }
  footer .footer-container .footer-right .linkedin br {
    display: none;
  }
  footer .footer-container .footer-right .linkedin i {
    font-size: 32px;
  }
  footer .footer-container .footer-right .legal-container {
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container .footer-right .legal-container .legal-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cabin, sans-serif;
}

.btn {
  background: rgb(236, 133, 29);
  color: rgb(246, 246, 246);
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: rgb(0, 180, 189);
  color: rgb(246, 246, 246);
}

h2 {
  color: rgb(0, 53, 102);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.875rem;
    margin-bottom: 16px;
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: rgb(22, 22, 22);
}
@media (max-width: 480px) {
  .lead {
    font-size: 1rem;
  }
}

h3 {
  color: rgb(0, 53, 102);
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.375rem;
  }
}

label {
  font-size: 1rem;
  color: rgb(0, 53, 102);
}

@media (max-width: 700px) {
  .btn:hover {
    background-color: rgb(236, 133, 29);
  }
}/*# sourceMappingURL=index.css.map */