@import "./settings";
@import "./components/sticky-navbar";
@import "./components/preheader";
@import "./components/navbar";
@import "./components/hero";
@import "./components/services";
@import "./components/about";
@import "./components/form";
@import "./components/footer";
@import "./pages/layout";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: cabin, sans-serif;
}

.btn {
  background: $orange;
  color: $white;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;

  &:hover {
    background: $lightBlue;
    color: $white;
  }
  }

h2 {
  color: $darkBlue;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;

  // MEDIA QUERIES ------------------------------------------------------
  @media (max-width: 480px) {
    font-size: 1.875rem;
    margin-bottom: 16px;
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: $black;

  // MEDIA QUERIES ------------------------------------------------------
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

h3 {
  color: $darkBlue;
  font-size: 1.5rem;
  font-weight: 700;

  // MEDIA QUERIES ------------------------------------------------------
  @media (max-width: 480px) {
    font-size: 1.375rem;
  }
}

label {
  font-size: 1rem;
  color: $darkBlue;
}

// MEDIA QUERIES ---------------------------------
@media (max-width: 700px) {
  .btn:hover {
    background-color: $orange;
  }
}