@import "./settings";
@import "./header";
@import "./services";
@import "./about";
@import "./form";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: cabin, sans-serif;
}

.btn {
  background: $orange;
  color: $white;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;

  &:hover {
    background: $lightBlue;
    color: $white;
  }
}

h2 {
  color: $darkBlue;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: $black;
}

h3 {
  color: $darkBlue;
  font-size: 1.5rem;
  font-weight: 700;
}

label {
  font-size: 1rem;
  color: $darkBlue;
}